.nav-links{
    display: flex;
    width: 40%;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
   
    padding:1rem;
}
.navbar{
    width: 100vw;
    padding:0 1rem;
    display: flex;
    align-items: center;
  
    
}
.nav-links > li a{
    text-decoration: none;
    color:black;
}
.nav-links > li a:hover{
    color:blue;
    transform:scale(1);
}
.logo a{
    text-decoration: none;
    color: black;
}

.logo a img{
    width: 80px;
    mix-blend-mode: multiply;
}